<div class="article_con">
  <h1><%= @video.title %></h1>
  <div class="article_detail"><b>来源：SDS非手术脊柱减压治疗中心(SDS官网)</b><b>发布时间：<%= (@video.published_at || @video.created_at).try(:cc_time) %></b><b>访问量量：<%= @video.visits %></b></div>

  <div class="wz_content">
    <p style="text-align: center">
    <embed src="<%= @video.url %>" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    </p>
    <p> </p>
    <p>
      <%= @video.content.try(:html_safe) %>
    </p>
  </div>
  <!-- 将此标记放在您希望显示like按钮的位置 -->
  <div class="bdlikebutton bdlikebutton-blue bdlikebutton-medium bdlikebutton-medium-blue"><div class="bdlikebutton-inner"><span class="bdlikebutton-add">+1</span><div class="bdlikebutton-count">4</div><div class="bdlikebutton-text">顶</div></div></div>

  <!-- 将此代码放在适当的位置，建议在body结束前 -->
  <script id="bdlike_shell" src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=383968"></script>
  <script>
    var bdShare_config = {
      "type":"medium",
        "color":"blue",
        "uid":"440751",
        "share":"yes"
    };
document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);
</script>

</div>

<ul class="shangxia">
  <li class="l">上一篇： <%= @video.older ? link_to(@video.older, @video.older) : '没有了'  %> </li>
  <li class="r">下一篇： <%= @video.newer ? link_to(@video.newer, @video.newer) : '没有了'  %> </li>
</ul>
