<table width="643" height="128" border="0" cellpadding="20" cellspacing="0">
  <tr>
    <td width="446" valign="top" class="copy"><p><strong><font color="0066ff">什么是IDD治疗:
            病人评论</font><br>
          <img src="<%= asset_path('Line.jpg') %>" width="255" height="1">          </strong></p>
      <h3>Doris Williams</h3>
      <p><em>Sebring, FL<br>
          September, 2010</em></p>
      <p>这是一个生命的保护，这是一种解脱，我没得做个手术。</p>
      <p align="center">* * * * * * * * </p>
      <h3><strong><img src="<%= asset_path('darrelllee.jpg') %>" width="400" height="533"><br>
          Darrell Lee </strong></h3>
      <p><em>Hapeville, GA<br>
          July, 2010
      </em></p>
      <p>I was employed at a job where we made heavy-duty engine parts, requiring me to do heavy lifting. I had been lifting these parts for years until one time I felt a severe pain in my back. </p>
      <p>It happened on a Friday. When I got up Saturday morning, the pain went from my waist all the way down to my ankle. The pain was a tingling and sharp pain. I just could not do anything--couldn't walk, bend, pick up anything--and I could obviously not work. </p>
      <p>I was diagnosed with herniated discs, sciatica, and a spondylolisthesis with severe disc degeneration. A chiropractor adjusted me and put E-Stim pads on my back every day for two weeks, but the pain did not get better. It did not work. </p>
      <p>After seventeen treatments with IDD Therapy &reg; , my pain has gone from 10 out of 10 to about 3 out of 10. I can shop for food and I can walk, whereas before I could not go due to extreme pain. I can clean my house without pain and do most housework. </p>            <h3 align="center">* * * * * * * * </h3>
      <h3>Ned Hardin </h3>
      <p><em>Riverdale, GA<br>
          June, 2010 </em></p>
      <p><img src="<%= asset_path('nedhardin.jpg') %>" width="194" height="204" hspace="4" align="left">My pain came on gradually over the years. &nbsp; I had spent time in the military and played football in high school and was accustomed to being pretty active. &nbsp; I tried physical therapy. Spinal injections only helped for a month, and the pain came right back. </p>
      <p>None of the treatments I tried helped me. I eventually got to the point where I just wanted to stay in due to the extreme pain. My social life was crushed, I could not sit or stand, I couldn't lie down, work out or even go for a walk. &nbsp; Everything was painful. I began to gain weight, which didn't help. &nbsp;&nbsp; My pain level was a 9 out of 10! &nbsp; I had pain shooting down both legs and sharp pain in my knee. &nbsp; I was in agony whenever I tried to drive; it felt like a stake was being driven through my back. After treatment ... the numbness, tingling and pain is gone! &nbsp; I am walking up to 3 miles at a time now! &nbsp; Before treatment I could not even walk 20 feet without severe pain! &nbsp; I have lost 30 pounds now that I can exercise and my overall health has improved. My blood pressure dropped from 160/100 to 120/70! &nbsp;&nbsp; </p>
      <p>It has dramatically changed my life for the better. </p>
      <p align="center">* * * * * * * * </p>
      <h3>Manish Aggarwal </h3>
      <p><em>Atlanta, GA<br>
          June, 2010 </em></p>
      <p>I played a bit of tennis, basketball and volleyball. My pain came on gradually and appeared to be a wearing down of my back. It started in my lower back first, then pain began to go down my left leg. It got to a point where I could barely walk. I experienced incredible pain whenever I tried to lift something. I was diagnosed with a herniated disc and started physical therapy and medications. The physical therapy helped improve my core strength, but it did not get to my pain. Since starting treatment...I am off medications. I am able to lift more weight, walk, sit and even run with minimal pain. This treatment has improved my willingness to leave the house and go out more. My quality of life has greatly improved. </p>
      <p align="center">* * * * * * * * </p>
      <h3>Todd Grubb </h3>
      <p><em>Waleska, GA<br>
          June, 2010 </em></p>
      <p>I was on my motorcycle and got rear-ended by a Lexus while waiting for the light to turn green. I was in constant pain, with a level between 8 and 9 out of 10. I was unable to work proficiently. I am a mechanic, and I was unable to do the simple things such as lift wheels to rotate tires or even pick up a car battery. My pain was constant. I was unable to sleep. I couldn't get the pain to stop. I could not do water sports or any other activity. &nbsp; After being diagnosed with three herniated discs, I tried aquatic therapy, physical therapy, electrical stimulation, flexeril (3-4 per day), and hydrocodone (3-4 per day). Nothing seemed to work. &nbsp; Epidural Injections were the next treatment recommended before I saw a cable infomercial about DiscForce(TM) with IDD Therapy&reg;. </p>
      <p>I came into the doctor's office with excruciating pain between 8-9, and now my pain level is between 0-1. I am no longer dependent on any type of pain medication or muscle relaxer. I am able to return to work and actively do the same type of work I did prior to my disc injuries. &nbsp; I am excited to have my life back! I would highly recommend DiscForce with IDD Therapy as an alternative to surgery. &nbsp;&nbsp; </p>
      <p align="center">* * * * * * * * </p>
      <h3>Sandra Hogan </h3>
      <p><em>Hampton, GA<br>
          March, 2010 </em></p>
      <p>My back pain started when I was working at the Holiday Inn back in 1983. I was lifting heavy furniture and other things when I injured my back, and I've had pain ever since. </p>
      <p>The pain was bad enough that I wasn't able to do housework or the arts and crafts I love to do, and I could not sketch or paint. </p>
      <p>I was diagnosed with a herniated disc and had to have a hip replacement in my right hip. </p>
      <p>I tried injections, pain pills, and electrical stimulation, but the pain would always come back. </p>
      <p>But after 20 treatments with IDD Therapy, I am now pain-free! I'm able to do artwork and crafts. I'm having more fun--dancing, traveling, etc. I am happier without pain. I wish I could have had this therapy a long time ago. </p>
      <p>I'd recommend IDD highly--to ANYONE that has back pain. It WORKS! </p>
      <p align="center">* * * * * * * * </p>
      <h3><img src="<%= asset_path('spicer.jpg') %>" width="400" height="370">James Spicer </h3>
      <p><em>Eatonton, GA<br>
          March, 2010 </em></p>
      <p>I've had back pain since 1980, when I ruptured three discs while demonstrating a boom lift. I experienced excruciating pain for decades. There were periods of several months where I couldn't walk. On two separate occasions, I was confined to a bed for six months, taking muscle relaxers and pain killers just so I could sleep. </p>
      <p>The pain was so intense that I was unable to stand up for more than two minutes. I couldn't walk to the mailbox; in fact, I had to use the lawn tractor to go to the mailbox and to walk my dog. The pain would be so excruciating sometimes that I had to crawl to the bathroom; three times the pain was so severe that I was taken to the hospital in an ambulance to get a shot of Darvon. </p>
      <p>My pain was so bad that just getting into my truck was work. I would grip the steering wheel so tight because the pain was so severe. I had to get into a motorized wheelchair just to shop at Wal-Mart. </p>
      <p>In 1994 I took pain medication and anti-inflammatories. I also received nerve blocks for a few months, but they were only a temporary relief, just a Band-Aid. </p>
      <p>My wife read about IDD Therapy &reg; treatment in a local newspaper. Since it is non-invasive and involves no medication, my wife got on the Internet to learn more, and five days later I was on the table receiving IDD Therapy &reg; treatments. After three treatments, I was down from 12 hydrocodone pills per day to zero, and I haven't had any since the third treatment. </p>
      <p>I came into treatment with a pain level of 10 and now, after 25 treatments, I am down to a 1. </p>
      <p>I'm now able to walk my dog, do yard work, and wash dishes. &nbsp; I am back in the church choir. &nbsp; IDD Therapy &reg; treatment allows me to live a more fruitful life; when you are productive, your self-worth and self-esteem are higher. My wife is happier, too. </p>
      <p>You'd better try IDD Therapy &reg; treatment, because it will be one of the best decisions of your life. The very first treatment made a believer out of me. I was blessed by reading about IDD Therapy &reg; in the newspaper, and maybe I can help someone. Maybe someone will be blessed by my success. My entire family is excited that I have gotten my life back. If I could take the machine home, I would find room for it. </p>
      <p align="center">* * * * * * * * </p>
      <h3>Julie Bruce </h3>
      <p><em>Jackson, GA<br>
          March, 2010 </em></p>
      <p>I had long-term severe back pain for years, even after spinal-fusion surgery in March of 2000. My pain was so severe as to cause me to become disabled. I was diagnosed with a herniated disc, bulging discs, and sciatica, as well as tingling and numbness in my hands. I tried all types of back-pain treatments, including the DRS, which only continued the cycle of pain and a debilitating lifestyle. </p>
      <p>But after 20 treatments of IDD Therapy, there is dramatically less pain and much more mobility. I may even be able to teach again as a computer-networking engineer after seven years of being unable to do so because of my back pain. </p>
      <p>I am finally happy again--"It brought the music and hope back to me." Everybody can see the "glow" on my face. </p>
      <p>IDD is a miracle treatment and will give you your life back. </p>
      <p>My mind is clearer and my short-term memory is much, much better. Everything about my life is MUCH better. I have hope again!! Now I will finally be able to play with my six-year-old granddaughter. I missed most of the early years, but now is a new beginning. I also will be able to pick up my one-month-old grandson and be able to see all of the "firsts" that I missed with my granddaughter. I got my FAMILY back, too! </p>
      <p>Now with IDD--the answer is YES!! </p>
      <p align="center">* * * * * * * * </p>
      <h3><img src="<%= asset_path('michaelmahan.jpg') %>" width="200" height="217" hspace="4" align="right">Michael Mahan </h3>
      <p><em>Birmingham, AL<br>
          October, 2009 </em></p>
      <p>I suffered from intense back and leg pain for three years, which severely affected my ability to sleep well. I consulted a Physical Therapist, who recommended surgery. I was prescribed pills that relieved the pain temporarily but did not fix the problem. ... After 20 treatments with IDD Therapy&reg;, the pain in my back and leg are gone. I'm also sleeping well for the first time in three years! You fixed me. I'm now able to do things I couldn't do before. I would recommend this treatment to anyone. </p>
      <p align="center">* * * * * * * * </p>
      <h3><img src="<%= asset_path('ammiehampton.jpg') %>" width="200" height="199" hspace="4" align="left">Ammie Hampton </h3>
      <p><em>Greensboro, GA<br>
          October, 2009 </em></p>
      <p>I had been going to the chiropractor for ten years as a result of a ruptured disc. The pain was so constant, I was unable to sleep in the bed. I tried to sleep on my right side with pain medication, but still I had no relief. I was unable to dishwashing or laundry and couldn't walk 20 feet without my back burning. I'd been working full-time, but because of the pain, I was relegated to part-time work. </p>
      <p>I saw a chiropractor and received medication, but the treatment gave me no relief. The situation was so bad, my mother-in-law suggested that I use a cane. My husband wanted me to use a wheelchair. My six and ten-year-old boys wanted to know when their mom's back was going to get better because they could see her in pain and they could not play football, tennis, or run with me. </p>
      <p>On a scale of one to ten, my pain level was a ten. But after 22 treatments of IDD Therapy, I can sleep on my back and sides now. I'm able to clean up the house. I feel as if I'm on the path to getting my life back. And, of course, my husband is glad I'm able to sleep in the bed with him now! </p>
      <p>I would highly recommend that anyone who's seeking treatment for back pain should try IDD Therapy. </p>
      <p align="center">* * * * * * * * </p>
      <h3><img src="<%= asset_path('barbarajoycecraig.jpg') %>" width="400" height="271"><br>Barbara Joyce Craig </h3>
      <p><em>Hampton, GA<br>
          October, 2009 </em></p>
      <p>I haven't felt this good in more than ten years. My initial pain level with medication was eight out of ten. Now, after IDD Therapy&reg; treatment on the Accu-SPINA&reg; device, I'm 100% pain-free. I walked into the [clinic] with a cane; now I'm walking out without one. I used to be unable to drive; now I can drive. I used to need help getting out of the chair or tub; now I can do both by myself. I can now perform all the simple tasks I used to need pain medication to perform-but now I don't need the medication! I feel so good, I can just about do the Charleston dance! No back pain means I am not mad all the time. &nbsp; When I was hurting, nobody better get in my way and now I can't keep from talking to people and everyone likes me. You would be foolish not to get on IDD Therapy&reg;. </p>
      <p align="center">* * * * * * * * </p>
      <h3>Frederick H. Spoehrer </h3>
      <p><em>Greensboro, GA<br>
          September, 2009 </em></p>
      <p>I experienced intense back pain after I slipped in the shower 18 months ago and fractured several of my ribs. I was confined to a wheelchair for six months, and my family had to come in from Detroit to help me get around. </p>
      <p>My back was so arched, it was painful for me to straighten up. When I would lay on my back, it would look like I was sitting up. I needed several pillows to prop up my back because I couldn't straighten it out. I was so hunched-over while walking, my head was down at knee level. I could not see where I was walking and could only shuffle my feet approximately four to six inches at a time. </p>
      <p>In addition to my fractured ribs, I was diagnosed with arthritis, osteoporosis, and muscle spasms. I went to a chiropractor for electrical stimulation and massage therapy, but the treatment didn't seem to do any good. There was no improvement in my pain. </p>
      <p>After seventeen treatments of IDD Therapy, I can walk straight up without a cane. I'm starting to get my normal stride back. I can get in and out of my car and drive it now. I can actually hold my head back now and see the sun. </p>
      <p>IDD Therapy is a wonderful treatment, and it has helped me tremendously. I have told a lot of people with back pain that I am convinced IDD Therapy can help them. I would recommend IDD Therapy to anyone with back pain. </p>
      <p align="center">* * * * * * * * </p>
      <h3><img src="<%= asset_path('marthamoreno.jpg') %>" width="129" height="129" hspace="4" align="right">Martha Moreno </h3>
      <p><em>Greensboro, GA<br>
          September, 2009 </em></p>
      <p>I had been in constant pain for one year with no relief. The pain was so severe, I couldn't even pick up my five-year- old son. I went to a chiropractor but only got temporary relief. I was prescribed pain pills, but they didn't help, either. Neither did anti-inflammatory medication. </p>
      <p>But after completing a regimen of IDD Therapy&reg; treatment at Family Medical Associates in Greensboro, 90% of my pain is gone. I'm able to move around the house and do my housework without pain. I would recommend this treatment to anyone in extreme pain like I was. </p>
      <p>My husband has back pain. Some of my relatives have been told they need back surgery. I will tell them all to look at IDD Therapy&reg; instead. </p>
      <p align="center">* * * * * * * * </p>
      <h3>&nbsp;</h3>
    </p>
    <p>&nbsp;</p>
    <p><br>
      <br>
      For more information, please complete <a href="more_info.html">this
        form</a> or call toll-free:
      1-866-NOW-4-IDD (1-866-669-4433)</p>
    <p>&nbsp;</p>
    <p align="center"><a href="Privacy.html">Privacy Policy</a> | <a href="legal.html">Legal
        Notice</a> | <a href="contact.html">Contact us</a> <strong><br>
      </strong><br>
      <br>
      IDD Therapy&reg; is a registered trademark of North American Medical Corporation.</p></td>
  <td width="197" valign="top" class="copy"><p><strong><font color="0066ff">收藏IDD疗法&reg;治疗的成功故事 - 得奖者！</font></strong><br>
      <br>
      <strong>第一名: </strong>James M<br>
      <strong>第二名: </strong>Anna R.<strong><font color="0066ff"><br>
    </font></strong></p>
    <p><font color="0066ff"><a href="contest.html">&gt;&gt; 点击我获取更多消息</a></font></p>            <p><strong><img src="<%= asset_path('Line.jpg') %>" width="150" height="1"><font color="0066ff"><br>
          <br>
          <br>
          问:</font></strong> 如果我使用IDD治疗,多久能有改善呢?<br>
      <br>
      <font color="0066ff"><strong>答:</strong></font>第二周你就应该感觉到改善，进展到完全恢复完成后，您规定的疗程。<br>
      <br>
      <a href="FAQ.html"> 更多的问答 &gt;&gt;</a></p></td>
</tr>
      </table>
