<div class="mt20">
  <div class="l home_content">
    <p>
      <strong>欢迎来到 iddtherapy.cn!</strong>
      <%= image_tag "Line.jpg" %>
    </p>

    <%= Option.where(name: 'home').first.try(:value).try(:html_safe) %>
  </div>
  <div class="l home_pdf">
    <p>
      <strong>有关IDD疗法的介绍</strong>
      <%= image_tag "Line.jpg" %>
    </p>
    <p><a title="IDD Therapy Patient Brochure" href="images/pdfs/iddpatientbrochure.pdf" target="_blank"><%= image_tag "brochureCover.png" %></a><br>
      <br>下载PDF格式的IDD疗法介绍手册<br>
      <a href="images/pdfs/iddpatientbrochure.pdf">点击这里</a><br>
      <br>
      <%= image_tag "Line.jpg" %>
    </p>
  </div>
  <div class="clearfix"></div>
</div>
