<div class="mt20">
  <div class="l home_content">
    <p>
      <strong>欢迎来到 iddtherapy.cn!</strong>
      <%= image_tag "Line.jpg" %>
    </p>

    <%= Option.where(name: 'home').first.try(:value).try(:html_safe) %>
  </div>
  <div class="l home_pdf">
    <p>
      <strong>有关IDD疗法的介绍</strong>
      <%= image_tag "Line.jpg" %>
    </p>
    <% @pdf = Pdf.recent.first %>
    <p>
      <% if @pdf %>
        <%= link_to @pdf.pdf.url do %>
          <%= image_tag "brochureCover.png" %>
        <% end -%>
        <br>
        <br>下载PDF格式的IDD疗法介绍手册<br>
        <%= link_to '点击这里', @pdf.pdf.url %>
        <br>
        <%= image_tag "Line.jpg" %>
      <% else %>
        <p> 请先在后台上传PDF 才能正常显示 </p>
      <% end -%>
    </p>
  </div>
  <div class="clearfix"></div>
</div>
