<div class="bgcolormap">
<div class="other_mainmap">
  <div class="dt_conmap">
    <div class="jt_wz">
      <div class="map_ditu3">
        <div class="map_ditu4">
          <div class="map_ditu5">
            <!--地图信息-->
            <div class="dt_nav">
              <ul id="nav_all">
                <!--内蒙古-->
                <li class="nmg jc"><a class="subfolderstyle">蒙</a>
                  <ul style="display: none;" id="guanbi">
                    <li class="nmguname1">
                      <div class="dt_bottombg">
                        <div class="map_con">
                          <div class="map_connr">
                            <!--table选项卡-->
                            <div id="TabbedPanels1" class="TabbedPanels">
                              <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/nmg_city/sdsnm1/')">内蒙古包钢医院</li>
                                <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/nmg_city/sdshhht/')">呼和浩特自治区医院</li>
                              </ul>
                              <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                  <div class="map_yynr">
                                    <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/nmg_city/sdsnm1/" target="_blank">内蒙古包钢医院</a></b>
                                    <div class="hos_detail">

                                      <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/nmg_city/sdsnm1/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>
                                      <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                      <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                          var number = (5+Math.random()*(26-1)).toFixed(0);
                                      document.write(number);</script>8元</p>
                                  <div class="hos_zzyy">
                                    <div class="hos_zzyytit">内蒙古包钢医院现咨询<a><script>
                                          var number = (50+Math.random()*(51-1)).toFixed(0);
                                    document.write(number);</script>59</a>位</div>
                              <div class="hos_zzyybutton">
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="display: none;" class="TabbedPanelsContent">
                        <div class="map_yynr">
                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/nmg_city/sdshhht/" target="_blank">呼和浩特自治区医院</a></b>
                          <div class="hos_detail">

                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/nmg_city/sdshhht/" target="_blank">点击进入</a></p>                               
                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                var number = (5+Math.random()*(26-1)).toFixed(0);
                            document.write(number);</script>12元</p>
                        <div class="hos_zzyy">
                          <div class="hos_zzyytit">呼和浩特自治区医院现咨询<a><script>
                                var number = (50+Math.random()*(51-1)).toFixed(0);
                          document.write(number);</script>76</a>位</div>
                    <div class="hos_zzyybutton">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--table选项卡结束-->                           
      </div>
    </div>
    <div class="bottom_arrow"></div>
  </div>
</li>
                        </ul>
                      </li>
                      <!--内蒙古结束-->
                      <!--黑龙江-->
                      <li class="heb jc"><a class="subfolderstyle">黑</a>
                        <ul style="display: none;">
                          <li class="nmguname1">
                            <div class="dt_bottombg">
                              <div class="map_con">
                                <div class="map_connr">
                                  <!--table选项卡-->
                                  <div id="TabbedPanels2" class="TabbedPanels">
                                    <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                      <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hlj_city/sdsheb/')">哈尔滨市第五医院</li>
                                      <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hlj_city/sdsmdj/')">牡丹江林总医院</li>
                                      <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hlj_city/sdshxl/')">红心隆中心医院</li>
                                    </ul>
                                    <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                      <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                        <div class="map_yynr">
                                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hlj_city/sdsheb/" target="_blank">哈尔滨市第五医院</a></b>
                                          <div class="hos_detail">

                                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hlj_city/sdsheb/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                var number = (5+Math.random()*(26-1)).toFixed(0);
                                            document.write(number);</script>22元</p>
                                        <div class="hos_zzyy">
                                          <div class="hos_zzyytit">哈尔滨市第五医院现咨询<a><script>
                                                var number = (50+Math.random()*(51-1)).toFixed(0);
                                          document.write(number);</script>68</a>位</div>
                                    <div class="hos_zzyybutton">
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="display: none;" class="TabbedPanelsContent">
                              <div class="map_yynr">
                                <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hlj_city/sdsmdj/" target="_blank">牡丹江林总医院</a></b>
                                <div class="hos_detail">

                                  <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hlj_city/sdsmdj/" target="_blank">点击进入</a></p>                                
                                  <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                      var number = (5+Math.random()*(26-1)).toFixed(0);
                                  document.write(number);</script>7元</p>
                              <div class="hos_zzyy">
                                <div class="hos_zzyytit">牡丹江林总医院现咨询<a><script>
                                      var number = (50+Math.random()*(51-1)).toFixed(0);
                                document.write(number);</script>74</a>位</div>
                          <div class="hos_zzyybutton">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="display: none;" class="TabbedPanelsContent">
                    <div class="map_yynr">
                      <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hlj_city/sdshxl/" target="_blank">红心隆中心医院</a></b>
                      <div class="hos_detail">

                        <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hlj_city/sdshxl/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b></p>
                        <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                        <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                            var number = (5+Math.random()*(26-1)).toFixed(0);
                        document.write(number);</script>20元</p>
                    <div class="hos_zzyy">
                      <div class="hos_zzyytit">红心隆中心医院现咨询<a><script>
                            var number = (50+Math.random()*(51-1)).toFixed(0);
                      document.write(number);</script>53</a>位</div>
                <div class="hos_zzyybutton">
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--table选项卡结束-->                           
  </div>
</div>
<div class="bottom_arrow"></div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!--黑龙江结束-->
                          <!--吉林-->
                          <li class="jl jc"><a class="subfolderstyle">吉</a></li>
                          <!--吉林结束-->
                          <!--辽宁-->
                          <li class="ln jc"><a class="subfolderstyle">辽</a>
                            <ul style="display: none;">
                              <li class="nmguname1">
                                <div class="dt_bottombg">
                                  <div class="map_con">
                                    <div class="map_connr">
                                      <!--table选项卡-->
                                      <div id="TabbedPanels3" class="TabbedPanels">
                                        <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                          <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/ln_city/sds202/')">中国人民解放军第二零二</li>
                                          <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/ln_city/sdsft/')">沈阳医学院奉天医院</li>
                                          <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('/guanjiejixing/')">铁岭市中医医院</li>
                                        </ul>
                                        <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                          <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                            <div class="map_yynr">
                                              <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/ln_city/sds202/" target="_blank">中国人民解放军第二零二</a></b>
                                              <div class="hos_detail">

                                                <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/ln_city/sds202/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322 </p>
                                                <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                                <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                    var number = (5+Math.random()*(26-1)).toFixed(0);
                                                document.write(number);</script>12元</p>
                                            <div class="hos_zzyy">
                                              <div class="hos_zzyytit">中国人民解放军第二零二现咨询<a><script>
                                                    var number = (50+Math.random()*(51-1)).toFixed(0);
                                              document.write(number);</script>57</a>位</div>
                                        <div class="hos_zzyybutton">
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div style="display: none;" class="TabbedPanelsContent">
                                  <div class="map_yynr">
                                    <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/ln_city/sdsft/" target="_blank">沈阳医学院奉天医院</a></b>
                                    <div class="hos_detail">

                                      <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/ln_city/sdsft/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322 </p>
                                      <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                      <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                          var number = (5+Math.random()*(26-1)).toFixed(0);
                                      document.write(number);</script>27元</p>
                                  <div class="hos_zzyy">
                                    <div class="hos_zzyytit">沈阳医学院奉天医院现咨询<a><script>
                                          var number = (50+Math.random()*(51-1)).toFixed(0);
                                    document.write(number);</script>53</a>位</div>
                              <div class="hos_zzyybutton">
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="display: none;" class="TabbedPanelsContent">
                        <div class="map_yynr">
                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/ln_city/sdstl/" target="_blank">铁岭市中医医院</a></b>
                          <div class="hos_detail">

                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/ln_city/sdstl/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322 </p>
                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                var number = (5+Math.random()*(26-1)).toFixed(0);
                            document.write(number);</script>16元</p>
                        <div class="hos_zzyy">
                          <div class="hos_zzyytit">铁岭市中医医院现咨询<a><script>
                                var number = (50+Math.random()*(51-1)).toFixed(0);
                          document.write(number);</script>71</a>位</div>
                    <div class="hos_zzyybutton">
                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--table选项卡结束-->                           
      </div>
    </div>
    <div class="bottom_arrow"></div>
  </div>
</li>
                        </ul>
                      </li>
                      <!--辽宁结束-->
                      <!--北京-->
                      <li class="bj jc"><a class="subfolderstyle">京</a>
                        <ul style="display: none;">
                          <li class="nmguname1">
                            <div class="dt_bottombg">
                              <div class="map_con">
                                <div class="map_connr">
                                  <!--table选项卡-->
                                  <div id="TabbedPanels4" class="TabbedPanels">
                                    <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                      <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/bj_city/sdsjfq/')">中国人民解放军总医院</li>
                                      <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/bj_city/gk304/')">中国人民解放军第304医院</li>
                                    </ul>
                                    <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                      <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                        <div class="map_yynr">
                                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/bj_city/sdsjfq/" target="_blank">中国人民解放军总医院</a></b>
                                          <div class="hos_detail">

                                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/bj_city/sdsjfq/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                var number = (5+Math.random()*(26-1)).toFixed(0);
                                            document.write(number);</script>28元</p>
                                        <div class="hos_zzyy">
                                          <div class="hos_zzyytit">中国人民解放军总医院现咨询<a><script>
                                                var number = (50+Math.random()*(51-1)).toFixed(0);
                                          document.write(number);</script>54</a>位</div>
                                    <div class="hos_zzyybutton">
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div style="display: none;" class="TabbedPanelsContent">
                            <div class="map_yynr">
                              <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/bj_city/gk304/" target="_blank">中国人民解放军第304医院</a></b>
                              <div class="hos_detail">

                                <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/bj_city/gk304/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                    var number = (5+Math.random()*(26-1)).toFixed(0);
                                document.write(number);</script>10元</p>
                            <div class="hos_zzyy">
                              <div class="hos_zzyytit">中国人民解放军第304医院现咨询<a><script>
                                    var number = (50+Math.random()*(51-1)).toFixed(0);
                              document.write(number);</script>72</a>位</div>
                        <div class="hos_zzyybutton">
                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--table选项卡结束-->                           
            </div>
          </div>
          <div class="bottom_arrow"></div>
        </div>
      </li>
    </ul>
  </li>
  <!--北京结束-->
  <!--天津-->
  <li class="tj jc"><a class="subfolderstyle">津</a>
    <ul style="display: none;">
      <li class="nmguname1">
        <div class="dt_bottombg">
          <div class="map_con">
            <div class="map_connr">
              <!--table选项卡-->
              <div id="TabbedPanels5" class="TabbedPanels">
                <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                  <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/tj_city/sdsrm1/')">天津人民医院</li>
                  <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/tj_city/sdsnk/')">南开大学人民医院</li>
                </ul>
                <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                  <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                    <div class="map_yynr">
                      <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/tj_city/sdsrm1/" target="_blank">天津人民医院</a></b>
                      <div class="hos_detail">

                        <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/tj_city/sdsrm1/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                        <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                        <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                            var number = (5+Math.random()*(26-1)).toFixed(0);
                        document.write(number);</script>30元</p>
                    <div class="hos_zzyy">
                      <div class="hos_zzyytit">天津人民医院现咨询<a><script>
                            var number = (50+Math.random()*(51-1)).toFixed(0);
                      document.write(number);</script>75</a>位</div>
                <div class="hos_zzyybutton">
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="display: none;" class="TabbedPanelsContent">
          <div class="map_yynr">
            <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/tj_city/sdsnk/" target="_blank">南开大学人民医院</a></b>
            <div class="hos_detail">

              <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/tj_city/sdsnk/" target="_blank">点击进入</a></p>                               
              <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                  var number = (5+Math.random()*(26-1)).toFixed(0);
              document.write(number);</script>12元</p>
          <div class="hos_zzyy">
            <div class="hos_zzyytit">南开大学人民医院现咨询<a><script>
                  var number = (50+Math.random()*(51-1)).toFixed(0);
            document.write(number);</script>97</a>位</div>
      <div class="hos_zzyybutton">

      </div>
    </div>
  </div>
</div>
                                                </div>
                                              </div>
                                            </div>
                                            <!--table选项卡结束-->                           
                                          </div>
                                        </div>
                                        <div class="bottom_arrow"></div>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <!--天津结束-->
                                <!--河北-->
                                <li class="hebei jc"><a class="subfolderstyle">冀</a>
                                  <ul style="display: none;">
                                    <li class="nmguname1">
                                      <div class="dt_bottombg">
                                        <div class="map_con">
                                          <div class="map_connr">
                                            <!--table选项卡-->
                                            <div id="TabbedPanels6" class="TabbedPanels">
                                              <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                                <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hb_city/sdsdoo/')">石家庄中心医院</li>
                                                <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hb_city/rdhb1/')">石家庄武警总医院</li>
                                              </ul>
                                              <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                                <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                                  <div class="map_yynr">
                                                    <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hb_city/sdsdoo/" target="_blank">石家庄中心医院</a></b>
                                                    <div class="hos_detail">

                                                      <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hb_city/sdsdoo/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                                      <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                                      <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                          var number = (5+Math.random()*(26-1)).toFixed(0);
                                                      document.write(number);</script>18元</p>
                                                  <div class="hos_zzyy">
                                                    <div class="hos_zzyytit">石家庄中心医院现咨询<a><script>
                                                          var number = (50+Math.random()*(51-1)).toFixed(0);
                                                    document.write(number);</script>94</a>位</div>
                                              <div class="hos_zzyybutton">
                                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div style="display: none;" class="TabbedPanelsContent">
                                        <div class="map_yynr">
                                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hb_city/rdhb1/" target="_blank">石家庄武警总医院</a></b>
                                          <div class="hos_detail">

                                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hb_city/rdhb1/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322 </p>
                                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                var number = (5+Math.random()*(26-1)).toFixed(0);
                                            document.write(number);</script>29元</p>
                                        <div class="hos_zzyy">
                                          <div class="hos_zzyytit">石家庄武警总医院现咨询<a><script>
                                                var number = (50+Math.random()*(51-1)).toFixed(0);
                                          document.write(number);</script>98</a>位</div>
                                    <div class="hos_zzyybutton">
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--table选项卡结束-->                           
                      </div>
                    </div>
                    <div class="bottom_arrow"></div>
                  </div>
                </li>
              </ul>
            </li>
            <!--河北结束-->
            <!--山西-->
            <!--<li class="sxi jc"><a class="subfolderstyle">晋</a></li>-->
            <!--山西结束-->
            <!--陕西-->
            <!--<li class="shanx jc"><a class="subfolderstyle">陕</a></li>-->
            <!--陕西结束-->
            <!--宁夏-->
            <!--<li class="ningx jc"><a class="subfolderstyle">宁</a></li>-->
            <!--宁夏结束-->
            <!--甘肃-->
            <!--<li class="gans jc"><a class="subfolderstyle">甘</a></li>-->
            <!--甘肃结束-->
            <!--青海-->
            <!--<li class="qingh jc"><a class="subfolderstyle">青</a></li>-->
            <!--青海结束-->
            <!--西藏-->
            <!--<li class="xzang jc"><a class="subfolderstyle">藏</a></li>-->
            <!--西藏结束-->
            <!--四川-->
            <!--<li class="sichuang jc"><a class="subfolderstyle">川</a></li>-->
            <!--四川结束-->
            <!--河南-->
            <li class="henan jc"><a class="subfolderstyle">豫</a>
              <ul style="display: none;">
                <li class="nmguname1">
                  <div class="dt_bottombg">
                    <div class="map_con">
                      <div class="map_connr">
                        <!--table选项卡-->
                        <div id="TabbedPanels14" class="TabbedPanels">
                          <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                            <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdsxc/')">许昌中医院</li>
                            <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdsxy/')">信阳解放军第154医院</li>
                            <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sds150/')">洛阳解放军150医院</li>
                            <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdsdf1/')">洛阳东方医院</li>
                            <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdszz/')">郑州市骨科医院</li>
                            <li class="TabbedPanelsTab" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdspds/')">平顶山一五二医院</li>

                          </ul>

                          <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                            <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                              <div class="map_yynr">
                                <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdsxc/" target="_blank">许昌中医院</a></b>
                                <div class="hos_detail">

                                  <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdsxc/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322 </p>
                                  <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                  <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                      var number = (5+Math.random()*(26-1)).toFixed(0);
                                  document.write(number);</script>26元</p>
                              <div class="hos_zzyy">
                                <div class="hos_zzyytit">许昌中医院现咨询<a><script>
                                      var number = (50+Math.random()*(51-1)).toFixed(0);
                                document.write(number);</script>94</a>位</div>
                          <div class="hos_zzyybutton">
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="display: none;" class="TabbedPanelsContent">
                    <div class="map_yynr">
                      <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdsxy/" target="_blank">信阳解放军第154医院</a></b>
                      <div class="hos_detail">

                        <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdsxy/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                        <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                        <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                            var number = (5+Math.random()*(26-1)).toFixed(0);
                        document.write(number);</script>14元</p>
                    <div class="hos_zzyy">
                      <div class="hos_zzyytit">信阳解放军第154医院现咨询<a><script>
                            var number = (50+Math.random()*(51-1)).toFixed(0);
                      document.write(number);</script>80</a>位</div>
                <div class="hos_zzyybutton">
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="display: none;" class="TabbedPanelsContent">
          <div class="map_yynr">
            <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sds150/" target="_blank">洛阳解放军150医院</a></b>
            <div class="hos_detail">

              <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sds150/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
              <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

              <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                  var number = (5+Math.random()*(26-1)).toFixed(0);
              document.write(number);</script>21元</p>
          <div class="hos_zzyy">
            <div class="hos_zzyytit">洛阳解放军150医院现咨询<a><script>
                  var number = (50+Math.random()*(51-1)).toFixed(0);
            document.write(number);</script>69</a>位</div>
      <div class="hos_zzyybutton">
        <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
        <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

      </div>
    </div>
  </div>
</div>
                                                </div>
                                                <div style="display: none;" class="TabbedPanelsContent">
                                                  <div class="map_yynr">
                                                    <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdsdf1/" target="_blank">洛阳东方医院</a></b>
                                                    <div class="hos_detail">

                                                      <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdsdf1/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                                      <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                                      <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                          var number = (5+Math.random()*(26-1)).toFixed(0);
                                                      document.write(number);</script>11元</p>
                                                  <div class="hos_zzyy">
                                                    <div class="hos_zzyytit">洛阳东方医院现咨询<a><script>
                                                          var number = (50+Math.random()*(51-1)).toFixed(0);
                                                    document.write(number);</script>91</a>位</div>
                                              <div class="hos_zzyybutton">
                                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div style="display: none;" class="TabbedPanelsContent">
                                        <div class="map_yynr">
                                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdszz/" target="_blank">郑州市骨科医院</a></b>
                                          <div class="hos_detail">

                                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdszz/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                var number = (5+Math.random()*(26-1)).toFixed(0);
                                            document.write(number);</script>16元</p>
                                        <div class="hos_zzyy">
                                          <div class="hos_zzyytit">郑州市骨科医院现咨询<a><script>
                                                var number = (50+Math.random()*(51-1)).toFixed(0);
                                          document.write(number);</script>99</a>位</div>
                                    <div class="hos_zzyybutton">
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div style="display: none;" class="TabbedPanelsContent">
                              <div class="map_yynr">
                                <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdspds/" target="_blank">平顶山一五二医院</a></b>
                                <div class="hos_detail">

                                  <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdspds/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                  <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                  <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                      var number = (5+Math.random()*(26-1)).toFixed(0);
                                  document.write(number);</script>29元</p>
                              <div class="hos_zzyy">
                                <div class="hos_zzyytit">平顶山一五二医院现咨询<a><script>
                                      var number = (50+Math.random()*(51-1)).toFixed(0);
                                document.write(number);</script>81</a>位</div>
                          <div class="hos_zzyybutton">
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>
              <!--table选项卡结束-->                           
            </div>
          </div>
          <div class="bottom_arrow"></div>
        </div>
      </li>
    </ul>
  </li>
  <!--河南结束-->
  <!--安徽-->
  <li class="anhui jc"><a class="subfolderstyle">皖</a>
    <ul style="display: none;">
      <li class="nmguname1">
        <div class="dt_bottombg">
          <div class="map_con">
            <div class="map_connr">
              <!--table选项卡-->
              <div id="TabbedPanels8" class="TabbedPanels">
                <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                  <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/ah_city/sdsah/')">安徽医科大第一附属医院</li>
                </ul>
                <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                  <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                    <div class="map_yynr">
                      <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/ah_city/sdsah/" target="_blank">安徽医科大第一附属医院</a></b>
                      <div class="hos_detail">

                        <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/ah_city/sdsah/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                        <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                        <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                            var number = (5+Math.random()*(26-1)).toFixed(0);
                        document.write(number);</script>6元</p>
                    <div class="hos_zzyy">
                      <div class="hos_zzyytit">安徽医科大第一附属医院现咨询<a><script>
                            var number = (50+Math.random()*(51-1)).toFixed(0);
                      document.write(number);</script>89</a>位</div>
                <div class="hos_zzyybutton">
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--table选项卡结束-->                           
  </div>
</div>
<div class="bottom_arrow"></div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!--安徽结束-->
                          <!--湖北-->
                          <li class="hbei jc"><a class="subfolderstyle">鄂</a>
                            <ul style="display: none;">
                              <li class="nmguname1">
                                <div class="dt_bottombg">
                                  <div class="map_con">
                                    <div class="map_connr">
                                      <!--table选项卡-->
                                      <div id="TabbedPanels7" class="TabbedPanels">
                                        <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                          <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hb_city/sdswhwy/')">湖北市第五医院</li>
                                        </ul>
                                        <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                          <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                            <div class="map_yynr">
                                              <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hb_city/sdswhwy/" target="_blank">湖北市第五医院</a></b>
                                              <div class="hos_detail">

                                                <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hb_city/sdswhwy/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                                <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                                <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                    var number = (5+Math.random()*(26-1)).toFixed(0);
                                                document.write(number);</script>21元</p>
                                            <div class="hos_zzyy">
                                              <div class="hos_zzyytit">湖北市第五医院现咨询<a><script>
                                                    var number = (50+Math.random()*(51-1)).toFixed(0);
                                              document.write(number);</script>76</a>位</div>
                                        <div class="hos_zzyybutton">
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--table选项卡结束-->                           
                          </div>
                        </div>
                        <div class="bottom_arrow"></div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--湖北结束-->
                <!--重庆-->
                <li class="chongq jc"><a class="subfolderstyle">渝</a>
                  <ul style="display: none;">
                    <li class="nmguname1">
                      <div class="dt_bottombg">
                        <div class="map_con">
                          <div class="map_connr">
                            <!--table选项卡-->
                            <div id="TabbedPanels15" class="TabbedPanels">
                              <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/cq_city/sdscq/')">重庆医科大附属第二医院</li>
                              </ul>
                              <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                  <div class="map_yynr">
                                    <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/cq_city/sdscq/" target="_blank">重庆医科大附属第二医院</a></b>
                                    <div class="hos_detail">

                                      <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/cq_city/sdscq/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                      <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                      <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                          var number = (5+Math.random()*(26-1)).toFixed(0);
                                      document.write(number);</script>10元</p>
                                  <div class="hos_zzyy">
                                    <div class="hos_zzyytit">重庆医科大附属第二医院现咨询<a><script>
                                          var number = (50+Math.random()*(51-1)).toFixed(0);
                                    document.write(number);</script>50</a>位</div>
                              <div class="hos_zzyybutton">
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--table选项卡结束-->                           
                </div>
              </div>
              <div class="bottom_arrow"></div>
            </div>
          </li>
        </ul>
      </li>
      <!--重庆结束-->
      <!--江苏-->
      <li class="jiangs jc"><a class="subfolderstyle">苏</a>
        <ul style="display: none;">
          <li class="nmguname1">
            <div class="dt_bottombg">
              <div class="map_con">
                <div class="map_connr">
                  <!--table选项卡-->
                  <div id="TabbedPanels9" class="TabbedPanels">
                    <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                      <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/js_city/sdsnj1/')">中国人民解放军第454医院</li>
                    </ul>
                    <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                      <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                        <div class="map_yynr">
                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/js_city/sdsnj1/" target="_blank">中国人民解放军第454医院</a></b>
                          <div class="hos_detail">

                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/js_city/sdsnj1/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                            <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                var number = (5+Math.random()*(26-1)).toFixed(0);
                            document.write(number);</script>6元</p>
                        <div class="hos_zzyy">
                          <div class="hos_zzyytit">中国人民解放军第454医院现咨询<a><script>
                                var number = (50+Math.random()*(51-1)).toFixed(0);
                          document.write(number);</script>71</a>位</div>
                    <div class="hos_zzyybutton">
                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                      <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--table选项卡结束-->                           
      </div>
    </div>
    <div class="bottom_arrow"></div>
  </div>
</li>
                        </ul>
                      </li>
                      <!--江苏结束-->
                      <!--上海-->
                      <li class="shangh jc"><a class="subfolderstyle">沪</a>
                        <ul style="display: none;">
                          <li class="nmguname1">
                            <div class="dt_bottombg">
                              <div class="map_con">
                                <div class="map_connr">
                                  <!--table选项卡-->
                                  <div id="TabbedPanels10" class="TabbedPanels">
                                    <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                      <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/sh_city/sdssh/')">上海市第六人民医院</li>
                                    </ul>
                                    <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                      <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                        <div class="map_yynr">
                                          <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/sh_city/sdssh/" target="_blank">上海市第六人民医院</a></b>
                                          <div class="hos_detail">

                                            <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/sh_city/sdssh/" target="_blank">点击进入</a></p>                               
                                            <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                var number = (5+Math.random()*(26-1)).toFixed(0);
                                            document.write(number);</script>17元</p>
                                        <div class="hos_zzyy">
                                          <div class="hos_zzyytit">上海市第六人民医院现咨询<a><script>
                                                var number = (50+Math.random()*(51-1)).toFixed(0);
                                          document.write(number);</script>51</a>位</div>
                                    <div class="hos_zzyybutton">

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--table选项卡结束-->                           
                      </div>
                    </div>
                    <div class="bottom_arrow"></div>
                  </div>
                </li>
              </ul>
            </li>
            <!--上海结束-->
            <!--浙江-->
            <li class="zheji jc"><a class="subfolderstyle">浙</a>
              <ul style="display: none;">
                <li class="nmguname1">
                  <div class="dt_bottombg">
                    <div class="map_con">
                      <div class="map_connr">
                        <!--table选项卡-->
                        <div id="TabbedPanels11" class="TabbedPanels">
                          <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                            <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/zj_city/sdswj/')">武警浙江杭州总队医院</li>
                          </ul>
                          <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                            <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                              <div class="map_yynr">
                                <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/zj_city/sdswj/" target="_blank">武警浙江杭州总队医院</a></b>
                                <div class="hos_detail">

                                  <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/zj_city/sdswj/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                  <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                  <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                      var number = (5+Math.random()*(26-1)).toFixed(0);
                                  document.write(number);</script>18元</p>
                              <div class="hos_zzyy">
                                <div class="hos_zzyytit">武警浙江杭州总队医院现咨询<a><script>
                                      var number = (50+Math.random()*(51-1)).toFixed(0);
                                document.write(number);</script>73</a>位</div>
                          <div class="hos_zzyybutton">
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                            <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--table选项卡结束-->                           
            </div>
          </div>
          <div class="bottom_arrow"></div>
        </div>
      </li>
    </ul>
  </li>
  <!--浙江结束-->
  <!--福建-->
  <!--<li class="fujian jc"><a class="subfolderstyle">闽</a></li>-->
  <!--福建结束-->
  <!--江西-->
  <!--<li class="jiangxi jc"><a class="subfolderstyle">赣</a></li>-->
  <!--江西结束-->
  <!--湖南-->
  <li class="hunan jc"><a class="subfolderstyle">湘</a>
    <ul style="display: none;">
      <li class="nmguname1">
        <div class="dt_bottombg">
          <div class="map_con">
            <div class="map_connr">
              <!--table选项卡-->
              <div id="TabbedPanels12" class="TabbedPanels">
                <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                  <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/hn_city/sdscs/')">长沙市第四人民医院</li>
                </ul>
                <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                  <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                    <div class="map_yynr">
                      <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/hn_city/sdscs/" target="_blank">长沙市第四人民医院</a></b>
                      <div class="hos_detail">

                        <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/hn_city/sdscs/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                        <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                        <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                            var number = (5+Math.random()*(26-1)).toFixed(0);
                        document.write(number);</script>21元</p>
                    <div class="hos_zzyy">
                      <div class="hos_zzyytit">长沙市第四人民医院现咨询<a><script>
                            var number = (50+Math.random()*(51-1)).toFixed(0);
                      document.write(number);</script>52</a>位</div>
                <div class="hos_zzyybutton">
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                  <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--table选项卡结束-->                           
  </div>
</div>
<div class="bottom_arrow"></div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!--湖南结束-->
                          <!--贵州-->
                          <!--<li class="guiz jc"><a class="subfolderstyle">黔</a></li>-->
                          <!--贵州结束-->
                          <!--云南-->
                          <!--<li class="yunnan jc"><a class="subfolderstyle">滇</a></li>-->
                          <!--云南结束-->
                          <!--广西-->
                          <!--<li class="guangxi jc"><a class="subfolderstyle">桂</a></li>-->
                          <!--广西结束-->
                          <!--广东-->
                          <li class="guangdong jc"><a class="subfolderstyle">粤</a>
                            <ul style="display: none;">
                              <li class="nmguname1">
                                <div class="dt_bottombg">
                                  <div class="map_con">
                                    <div class="map_connr">
                                      <!--table选项卡-->
                                      <div id="TabbedPanels13" class="TabbedPanels">
                                        <ul class="TabbedPanelsTabGroup" style="display:block; float:left; overflow:hidden;">
                                          <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0" onclick="window.open('http://www.sdskey.com/company/gd_city/sdsgd/')">中山大学孙逸仙纪念医院</li>
                                        </ul>
                                        <div class="TabbedPanelsContentGroup clearfix" style="float:right;">
                                          <div style="display: block;" class="TabbedPanelsContent TabbedPanelsContentVisible">
                                            <div class="map_yynr">
                                              <b class="mc_title"><a class="yymingcheng" href="http://www.sdskey.com/company/gd_city/sdsgd/" target="_blank">中山大学孙逸仙纪念医院</a></b>
                                              <div class="hos_detail">

                                                <p class="bgxh1"><b>网&nbsp;&nbsp;&nbsp;&nbsp;址：</b><a href="http://www.sdskey.com/company/gd_city/sdsgd/" target="_blank">点击进入</a></p>                               <p class="bgxh2"><b>医院电话：</b>400-099-8322</p>
                                                <p class="bgxh3"><b>免费咨询：</b><a href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F" target="_blank">点击咨询</a></p>

                                                <p class="bgxh4"><b>优&nbsp;&nbsp;&nbsp;&nbsp;惠：</b>网上挂号无需排队，免专家挂号费<script>
                                                    var number = (5+Math.random()*(26-1)).toFixed(0);
                                                document.write(number);</script>27元</p>
                                            <div class="hos_zzyy">
                                              <div class="hos_zzyytit">中山大学孙逸仙纪念医院现咨询<a><script>
                                                    var number = (50+Math.random()*(51-1)).toFixed(0);
                                              document.write(number);</script>62</a>位</div>
                                        <div class="hos_zzyybutton">
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx2.jpg' %></a>
                                          <a href="" target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy2.jpg' %></a>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--table选项卡结束-->                           
                          </div>
                        </div>
                        <div class="bottom_arrow"></div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--广东结束-->                    
                <!--台湾-->
                <!--<li class="taiwan jc"><a class="subfolderstyle">台</a></li>-->
                <!--台湾结束-->
                <!--香港-->
                <!--<li class="xgang jc"><a class="subfolderstyle">港</a></li>-->
                <!--香港结束-->
                <!--澳门-->
                <!--<li class="aomen jc"><a class="subfolderstyle">澳</a></li>-->
                <!--澳门结束-->
              </ul>
            </div>
            <!--免费咨询在线统计-->
            <div class="mfzxzxtj">
              <div class="mfzztj_tit">免费咨询在线统计</div>
              <div class="mfzxtj_con">
                <div class="mfzxtj_bor">
                  <div class="mfzx_mqian">目前正在进行网络咨询的患者共<a><script>
                        var number = (50+Math.random()*(150-1)).toFixed(0);
                  document.write(number);</script></a>位</div>
            <div class="mfzx_mqbutton">
              <a target="_blank" title="在线咨询"><%= image_tag 'map_butzxzx.jpg' %></a>
              <a target="_blank" title="在线咨询"><%= image_tag 'map_butyyyy.jpg' %></a>
            </div>
          </div>
        </div>
      </div>
      <!--免费咨询在线统计结束-->
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
  var TabbedPanels2 = new Spry.Widget.TabbedPanels("TabbedPanels2");
  var TabbedPanels3 = new Spry.Widget.TabbedPanels("TabbedPanels3");
  var TabbedPanels4 = new Spry.Widget.TabbedPanels("TabbedPanels4");
  var TabbedPanels5 = new Spry.Widget.TabbedPanels("TabbedPanels5");
  var TabbedPanels6 = new Spry.Widget.TabbedPanels("TabbedPanels6");
  var TabbedPanels7 = new Spry.Widget.TabbedPanels("TabbedPanels7");
  var TabbedPanels8 = new Spry.Widget.TabbedPanels("TabbedPanels8");
  var TabbedPanels9 = new Spry.Widget.TabbedPanels("TabbedPanels9");
  var TabbedPanels10 = new Spry.Widget.TabbedPanels("TabbedPanels10");
  var TabbedPanels11 = new Spry.Widget.TabbedPanels("TabbedPanels11");
  var TabbedPanels12 = new Spry.Widget.TabbedPanels("TabbedPanels12");
  var TabbedPanels13 = new Spry.Widget.TabbedPanels("TabbedPanels13");
  var TabbedPanels14 = new Spry.Widget.TabbedPanels("TabbedPanels14");
  var TabbedPanels15 = new Spry.Widget.TabbedPanels("TabbedPanels15");
  function close(){
    document.getElementById("guanbi").style.display = "none";
  }

$(function () {
    var st = 180;
    $('#nav_all>li').mouseenter(function () {
        $(this).find('ul').stop(false, true).slideDown(st);
    }).mouseleave(function () {
        $(this).find('ul').stop(false, true).slideUp(st);
    });
});


</script>
