<div class="article_con1">
  <h1><%= @post.title %></h1>
  <div class="article_detail1"><b>来源：<%= t('site_title') %></b><b>发布时间：<%= (@post.published_at || @post.created_at).try(:cc_time) %></b><b>访问量量：<%= @post.visits %></b></div>
  <span class="daodu1">
    <%= image_tag "daodu1.png", alt: '导读' %>
  </span>
  <p class="wzdao"><%= @post.introduction || @post.content.block(150) %></p>
  <div class="wz_content">
    <%= @post.content.try(:html_safe) %>
  </div>
  <!-- 将此标记放在您希望显示like按钮的位置 -->
  <div class="bdlikebutton bdlikebutton-blue bdlikebutton-medium bdlikebutton-medium-blue"><div class="bdlikebutton-inner"><span class="bdlikebutton-add">+1</span><div class="bdlikebutton-count">4</div><div class="bdlikebutton-text">顶</div></div></div>

  <!-- 将此代码放在适当的位置，建议在body结束前 -->
  <script id="bdlike_shell" src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=383968"></script>
  <script>
    var bdShare_config = {
      "type":"medium",
        "color":"blue",
        "uid":"440751",
        "share":"yes"
    };
document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);
</script>

</div>

<ul class="zixun">
  <li><a class="artd_zxzx" target="_blank" title="在线咨询" href="http://qiao.baidu.com/v3/?module=default&amp;controller=webim&amp;action=index&amp;siteid=3326816&amp;lastsubid=&amp;from=%E5%8C%97%E4%BA%AC%E5%AF%86%E4%BA%91&amp;bid=44a8ac94312c9509bca1ff31&amp;chattype=1&amp;ref=http%3A%2F%2Fwww.sdskey.com%2F"></a></li>
  <li><a class="artd_tele" target="_blank" title="400-099-8322"></a></li>
</ul>

<ul class="shangxia">
  <li>上一篇： <%= @post.older ? link_to(@post.older, @post.older) : '没有了'  %> </li>
  <li>下一篇： <%= @post.newer ? link_to(@post.newer, @post.newer) : '没有了'  %> </li>
</ul>
