<div class="article_con1">
  <!--1-->

  <% @posts.each do |post| %>
    <div class="list_con">
      <%= link_to post do %>
        <%= image_tag post.image.thumb, alt: post.title %>
      <% end -%>
      <dl>
        <dt>
        <%= link_to post.title, post, target: '_blank', title: post.title %>
        </dt>
        <dd>
        <%= post.introduction %>
        <%= link_to '[详情]', post, target: '_blank' %><span>[<%= post.created_at.try(:cc_time) %>]</span>
      </dl>
    </div>
  <% end -%>

  <div class="fenye">
    <%= paginate @posts %>
  </div>
</div>
<div class="clearfix"></div>
