<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cms" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cms" %>">

    <script language="JavaScript" type="text/JavaScript">
      <!--
    function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }

    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }

    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
       if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
    //-->
    </script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="mm_preloadimages('<%= asset_path('locations_on.jpg') %>','<%= asset_path('testimonials_on.jpg') %>','<%= asset_path('get_more_info_on.jpg') %>','<%= asset_path('in_the_news_on.jpg') %>','<%= asset_path('understanding_back_pain_on.jpg') %>','<%= asset_path('faq_on.jpg') %>','<%= asset_path('glossary_on.jpg') %>','<%= asset_path('clinical_info_on.jpg') %>','<%= asset_path('about_is_on.jpg') %>','<%= asset_path('find_certified_on.jpg') %>')">

    <!--<IMG SRC="<%= asset_path('Top.jpg') %>" ALT="" WIDTH=915 HEIGHT=19 border="0" usemap="#MapMap" id="img-top"> -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" ID="td_nav">
          <div style="height: 19px;">
            &nbsp;
          </div>
          <%= render "layouts/nav" %>
        </td>
        <td width="630" valign="top">
          <div style="height: 19px;" id="mid-top">
            <span class="english_link r">
              <a href="http://www.iddtherapy.com/">English</a>
            </span>
            &nbsp;
          </div>
