<%= render "layouts/before" %>
<% if category = (@video || @page).try(:category) %>
  <%= image_tag category.image %>
<% else %>
  <%= image_tag "flash_main.png" %>
<% end -%>
<%= yield %>
</td>
<td valign="top">
<div style="height: 19px;">
            &nbsp;
          </div>
  <img src="<%= asset_path('right_side.jpg') %>" width="485">
  <%= render "layouts/after" %>
