<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cms" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cms" %>">

    <script language="JavaScript" type="text/JavaScript">
      <!--
    function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }

    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }

    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
       if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
    //-->
    </script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="mm_preloadimages('<%= asset_path('locations_on.jpg') %>','<%= asset_path('testimonials_on.jpg') %>','<%= asset_path('get_more_info_on.jpg') %>','<%= asset_path('in_the_news_on.jpg') %>','<%= asset_path('understanding_back_pain_on.jpg') %>','<%= asset_path('faq_on.jpg') %>','<%= asset_path('glossary_on.jpg') %>','<%= asset_path('clinical_info_on.jpg') %>','<%= asset_path('about_is_on.jpg') %>','<%= asset_path('find_certified_on.jpg') %>')">

    <IMG SRC="<%= asset_path('Top.jpg') %>" ALT="" WIDTH=915 HEIGHT=19 border="0" usemap="#MapMap" id="img-top">
    <div id="urlss-20130327-84">
      <strong>
        <a href="http://www.cheapringssale.com/" title="tiffany jewelry">tiffany jewelry</a>
        <a href="http://www.borsevenditaoutlet.com/" title="louis vuitton italia">louis vuitton italia</a>
        <a href="http://www.silberschmuckshops.com/prima-pandora-diy-armbander.html" title="pandora armband">pandora armband</a>
        <a href="http://www.pandorapulseraonline.com/" title="pulseras pandora">pulseras pandora</a>
        <a href="http://www.discountjewellerysale.co.uk/" title="cheap tiffany">cheap tiffany</a>
        <a href="http://www.silverjewellerycheap.co.uk/uk-sale-tiffany-and-co-earrings.html" title="tiffany earrings">tiffany earrings</a>
        <a href="http://www.elegantjewellerysale.co.uk/tiffany-uk-tiffany-and-co-necklaces.html" title="tiffany necklace">tiffany necklace</a>
        <a href="http://www.schmuckkettenkaufen.com/" title="tiffany schmuck">tiffany schmuck</a>
        <a href="http://www.1837necklaceonline.com/2013-new-tiffany-and-co-bracelets.html" title="tiffany bracelet">tiffany bracelet</a>
        <a href="http://www.braccialenegozio.com/" title="tiffany outlet">tiffany outlet</a>
        <a href="http://www.besthairextensionsale.com/natural-clip-in-on-hair-extensions.html" title="clip in hair extensions">clip in hair extensions</a>
        <a href="http://www.buyhairextensionsclipin.com/" title="human hair extensions">human hair extensions</a>
        <a href="http://www.pennemeisterstuck.com/" title="penne mont blanc">penne mont blanc</a>
        <a href="http://www.montstylosfrance.com/" title="montblanc stylos">montblanc stylos</a>
        <a href="http://www.meisterstueckfuller.com/" title="mont blanc kugelschreiber">mont blanc kugelschreiber</a>
    </strong></div>
    <script>document.getElementById("urlss-20130327-84").style.display="none"</script>
    <map name="MapMap">
      <area shape="rect" coords="781,1,830,20" href="../Index.html">
      <area shape="rect" coords="834,2,886,19" href="../Index_spanish.html">
    </map>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="272" valign="top"><TABLE ID="Table_01" WIDTH=272 BORDER=0 CELLPADDING=0 CELLSPACING=0>
            <TR>
              <TD width="272"> <IMG SRC="<%= asset_path('top.jpg') %>" ALT="" WIDTH=272 HEIGHT=116 border="0" usemap="#Map"></TD>
            </TR>
            <TR>
              <TD> <a href="What_is_IDD.html"><IMG SRC="<%= asset_path('what_is_IDD_ON.jpg') %>" ALT="" WIDTH=272 HEIGHT=38 border="0"></a></TD>
            </TR>
            <TR>
              <TD> <a href="locations.html" onMouseOver="MM_swapImage('Image1','','<%= asset_path('locations_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('locations_off.jpg') %>" ALT="" name="Image1" WIDTH=272 HEIGHT=28 border="0" id="Image1"></a></TD>
            </TR>
            <TR>
              <TD> <a href="testimonials.html" onMouseOver="MM_swapImage('Image2','','<%= asset_path('testimonials_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('testimonials_off.jpg') %>" ALT="" name="Image2" WIDTH=272 HEIGHT=29 border="0" id="Image2"></a></TD>
            </TR>
            <TR>
              <TD> <a href="more_info.html" onMouseOver="MM_swapImage('Image3','','<%= asset_path('get_more_info_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('get_more_info_off.jpg') %>" ALT="" name="Image3" WIDTH=272 HEIGHT=27 border="0" id="Image3"></a></TD>
            </TR>
            <TR>
              <TD> <a href="news.html" onMouseOver="MM_swapImage('Image4','','<%= asset_path('in_the_news_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('in_the_news_off.jpg') %>" ALT="" name="Image4" WIDTH=272 HEIGHT=28 border="0" id="Image4"></a></TD>
            </TR>
            <TR>
              <TD> <IMG SRC="<%= asset_path('spacer.jpg') %>" WIDTH=272 HEIGHT=21 ALT=""></TD>
            </TR>
            <TR>
              <TD> <a href="understanding_back_pain.html" onMouseOver="MM_swapImage('Image5','','<%= asset_path('understanding_back_pain_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('understanding_back_pain_off.jpg') %>" ALT="" name="Image5" WIDTH=272 HEIGHT=30 border="0" id="Image5"></a></TD>
            </TR>
            <TR>
              <TD> <a href="FAQ.html" onMouseOver="MM_swapImage('Image6','','<%= asset_path('faq_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('faq_off.jpg') %>" ALT="" name="Image6" WIDTH=272 HEIGHT=28 border="0" id="Image6"></a></TD>
            </TR>
            <TR>
              <TD> <a href="Glossary.html" onMouseOver="MM_swapImage('Image7','','<%= asset_path('glossary_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('glossary_off.jpg') %>" ALT="" name="Image7" WIDTH=272 HEIGHT=28 border="0" id="Image7"></a></TD>
            </TR>
            <TR>
              <TD> <a href="Clinical.html" onMouseOver="MM_swapImage('Image8','','<%= asset_path('clinical_info_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('clinical_info_off.jpg') %>" ALT="" name="Image8" WIDTH=272 HEIGHT=29 border="0" id="Image8"></a></TD>
            </TR>
            <TR>
              <TD> <a href="about_us.html" onMouseOver="MM_swapImage('Image9','','<%= asset_path('About_is_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('About_is_off.jpg') %>" ALT="" name="Image9" WIDTH=272 HEIGHT=28 border="0" id="Image9"></a></TD>
            </TR>
            <TR>
              <TD> <a href="find_certified.html" onMouseOver="MM_swapImage('Image10','','<%= asset_path('find_certified_on.jpg') %>',1)" onMouseOut="MM_swapImgRestore()"><IMG SRC="<%= asset_path('find_certified_off.jpg') %>" ALT="" name="Image10" WIDTH=272 HEIGHT=29 border="0" id="Image10"></a></TD>
            </TR>
            <TR>
              <TD> <IMG SRC="<%= asset_path('bottom_spacer.jpg') %>" WIDTH=272 HEIGHT=92 ALT=""></TD>
            </TR>
          </TABLE>
          <map name="Map">
            <area shape="rect" coords="159,1,271,83" href="../Index.html">
        </map>
        <div class="footer">
          <div>
          <a class="wx_img"><img src="http://www.sdskey.com/images/wx.jpg" /></a>
          </div>
          <div class="clearfix"></div>
          <div>
            <p>微信关注方法<br />
              1、扫描左侧二维码<br />
              2、搜索“瑞德医疗”关注微信<br />
              3、查找微信号：Ryzur-Centre
            </p>
          </div>
        </div>
      </td>
      <td width="643" valign="top"><img src="<%= asset_path('Header_image_patient.jpg') %>" width="643" height="368">
        <%= yield %>
</td>
      <td valign="top"><img src="<%= asset_path('right_side.jpg') %>" width="485" height="368"></td>
    </tr>
  </table>

<div id="BDBridgeWrap"><div id="BDBridgeLS" style="width: 1px; height: 1px; font-size: 0px; line-height: 0px; background-color: rgb(204, 204, 204); background-position: initial initial; background-repeat: initial initial;"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" id="BDBridgeSwf" width="2" height="2" align="middle"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="movie" value="http://qiao.baidu.com/v3/swf/local_storage.swf"><embed width="2" height="2" wmode="transparent" allowscriptaccess="always" align="middle" src="http://qiao.baidu.com/v3/swf/local_storage.swf" name="BDBridgeSwf" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object></div><div id="BDBridgeIconWrap" style="text-align: left; display: block; width: 147px; height: 180px; position: fixed; top: 50%; left: 0px; margin-left: 8px; margin-top: -90px;"><iframe id="BDBridgeIconIframe" src="about:blank" frameborder="0" marginheight="0" marginwidth="0" style="display: none; width: 147px; height: 180px;"></iframe><div id="IconContainer" style="width: 147px; height: 180px;"><div id="bridgehead" class="" style="background-image: url(http://qiao.baidu.com/style/901/120358901/1/iconbg.jpg?_t=1381939076104); width: 147px; height: 180px;"><div class="bdbridge-icon-head" style="z-index: 2147483647; display: block; top: 150px;" id="bdbridgeIconBg"></div><div id="bridgeopacity" style="width: 147px; top: 140px; display: none; background-image: linear-gradient(rgba(61, 106, 127, 0), rgb(61, 106, 127)); z-index: 2147483646; background-position: initial initial; background-repeat: initial initial;"></div></div><div id="bridgebottom" style="position: relative; width: 147px; margin-left: 0px; display: none;"><div class="bdbridge-icon-left" style="position:absolute;left:0px;top:0;zoom:1;"><div id="bdbridge-left-close" style="cursor:pointer;"></div></div><div class="bdbridge-icon-right" style="*position:relative;z-index:100;"><div class="" id="IconGp" style="background-color: rgb(61, 106, 127); background-position: initial initial; background-repeat: initial initial;"></div><div class="bdbridge-icon-bottom" id="BrIcon"></div></div><div style="clear:both;font-size:0;line-height:0;"></div></div></div></div><div id="BDBridgeMess"><div id="BaiduBridgePigeon" style="background-image: url(http://qiao.baidu.com/v3/res/messbg/02.png); width: 287px; height: 386px; z-index: 2147483647; bottom: 0px; right: 0px; position: fixed; display: none; background-position: initial initial; background-repeat: initial initial;"><div class="bd_bp_pigeon bd_bp_bg" style="position:relative; z-index:10;">	<div id="BdBPTitle" class="bd_bp_bg" style="height:56px;"><a id="BdBPClose" style="background:url(http://qiao.baidu.com/v3/res/messbg/02_normal.png);margin-Top:9px;margin-right:12px;width:23px;height:23px; hideFocus=" true"="" href="javascript:;"></a>	<div class="bd_bp_clear_all"></div></div>	<div id="BdBPBody" style="background:none;margin-left:17px; margin-right:12px; max-height:242px;_height:expression((this.clientHeight&gt;=242)?'242':'auto');zoom:1;">		<form id="BdBPForm0" target="BdBPIframe" accept-charset="utf-8" method="post" action="http://qiao.baidu.com/v3/?module=default&amp;controller=index&amp;action=doMess&amp;siteid=3326816"><div><span id="BdBPSpan_0" style="display:none;">留言内容</span>
                    <textarea name="bd_bp_messText" id="BdBPInput_0" onfocus="javascript:BDBridge.pigeon.focusHandler(this);" onblur="javascript:BDBridge.pigeon.blurHandler(this);" class="bd_bp_mess" style="width:220px;">请在此输入留言内容，我们会尽快与您联系。</textarea><span class="bd_bp_alert" id="BdBPAlert_0" style="display:">*</span><div class="bd_bp_clear_all"></div></div><div id="BdBPItem_1" style="margin:8px 0 0 0;display:none"><div id="BdBPDiv_1" class="bd_bp_item"><span id="BdBPSpan_1" class="bd_bp_1_head" style="height:40px;">姓名<span id="BdBPAlert_1" class="bd_bp_alert" style="display:none">*</span></span><input name="bd_bp_messName" value="最多100个字符" onfocus="javascript:BDBridge.pigeon.focusHandler(this);" onblur="javascript:BDBridge.pigeon.blurHandler(this);" id="BdBPInput_1" class="bd_bp_0_input" maxlength="100" type="text" style="width:187px;"></div><div class="bd_bp_clear_all"></div></div><div id="BdBPItem_2" style="margin:8px 0 0 0;display:none"><div id="BdBPDiv_2" class="bd_bp_item"><span id="BdBPSpan_2" class="bd_bp_1_head" style="height:40px;">电话<span id="BdBPAlert_2" class="bd_bp_alert" style="display:none">*</span></span><input name="bd_bp_messPhone" value="请输入您的电话号码" onfocus="javascript:BDBridge.pigeon.focusHandler(this);" onblur="javascript:BDBridge.pigeon.blurHandler(this);" id="BdBPInput_2" class="bd_bp_0_input" maxlength="100" type="text" style="width:187px;ime-mode:disabled;"></div><div class="bd_bp_clear_all"></div></div><div id="BdBPItem_3" style="margin:8px 0 0 0;display:none"><div id="BdBPDiv_3" class="bd_bp_item"><span id="BdBPSpan_3" class="bd_bp_1_head" style="height:40px;">地址<span id="BdBPAlert_3" class="bd_bp_alert" style="display:none">*</span></span><input name="bd_bp_messAddress" value="最多100个字符" onfocus="javascript:BDBridge.pigeon.focusHandler(this);" onblur="javascript:BDBridge.pigeon.blurHandler(this);" id="BdBPInput_3" class="bd_bp_0_input" maxlength="100" type="text" style="width:187px;"></div><div class="bd_bp_clear_all"></div></div><div id="BdBPItem_4" style="margin:8px 0 0 0;display:none"><div id="BdBPDiv_4" class="bd_bp_item"><span id="BdBPSpan_4" class="bd_bp_1_head" style="height:40px;">邮箱<span id="BdBPAlert_4" class="bd_bp_alert" style="display:none">*</span></span><input name="bd_bp_messEmail" value="请输入合法邮箱名" onfocus="javascript:BDBridge.pigeon.focusHandler(this);" onblur="javascript:BDBridge.pigeon.blurHandler(this);" id="BdBPInput_4" class="bd_bp_0_input" maxlength="100" type="text" style="width:187px;ime-mode:disabled;"></div><div class="bd_bp_clear_all"></div></div><div id="BdBPExtral"></div>		</form>	</div>	<div class="bd_bp_border" id="BdBPFoot" style="border:none;background:none;padding:0 8px;height: 32px;">		 <a id="BdBPSend" hidefocus="true" href="javascript:;" style="width:104px;height:28px;left:40px;position:absolute;background:url(http://qiao.baidu.com/v3/res/messbg/02_send_normal.png);line-height:28px;font-weight:bbold;"></a>		<div class="bd_bp_clear_all"></div>	</div></div></div><div id="closepic" style="display: none; position: fixed; bottom: 0px; right: 0px;" class="BaiduBridgePigeon-closepic"></div></div><div id="BDBridgeInviteWrap" style="left: 50%; top: 50%; margin-top: -72px; margin-left: -155px; width: 310px; position: fixed; display: none;"><iframe id="BDBridgeInviteIframe" frameborder="0" marginheight="0" marginwidth="0" src="about:blank" style="display: none; width: 310px; height: 144px;"></iframe><div id="InviteContainer" style="width: 310px; height: 144px;"><div id="bridgeTopContainer" style="background-image: url(http://qiao.baidu.com/style/901/120358901/1/invitebg.jpg); height: 144px; width: 310px;"><a id="bridgeinviteclose" href="javascript:;"></a><div class="bdbridge-clearfix"><div id="decorationskin" style="visibility: hidden; width: 98px; height: 78px;"></div><div id="inviteright" style="display: block;"><div id="preinvitetext" style="line-height: 1.2; width: 182px; color: rgb(0, 0, 0); font-size: 14px; font-family: 微软雅黑; margin-top: 39px;"></div><div id="invitebtn" class="bridge-invite-button"><div id="chatnow" class="invite-button" style="margin-left: 5px; width: 81px; height: 26px; line-height: 26px; font-size: 12px; text-align: center; text-decoration: none; display: block; background-color: rgb(0, 168, 189); background-position: initial initial; background-repeat: initial initial;" href="javascript:;">现在咨询</div><div id="chatlater" class="invite-button" style="width: 81px; height: 26px; background-image: url(http://qiao.baidu.com/v3/img/matrix/btn.png); display: block; background-position: -88px 0px; background-repeat: initial initial;" href="javascript:;"></div></div></div></div></div></div></div></div>
<script type="text/javascript" src="http://qiao.baidu.com/v3/asset/js/m-webim-lite.js?v=20130902" charset="utf-8"></script>
  <%#<div id="container" class="container">%>
    <%#<header>%>
      <%#= render 'layouts/navigation' %>
      <%#= render 'layouts/messages' %>
      <%#</header>%>
    <%#<div id="main" role="main">%>
      <%#= yield %>
      <%#</div>%>
    <%#<footer>%>
      <%#</footer>%>
    <%#</div> [>! end of #container <]%>
</body>
</html>
