<%= render "layouts/before" %>
  <%= render 'layouts/flashes',flashes: Flash.recent %>
<%= yield %>
</td>
<td valign="top">
<div class="right_top">&nbsp;</div>
  <img src="<%= asset_path('right_side.png') %>" width="485">
</td>
    </tr>
  </table>
  <%= render "layouts/footer" %>
  <%= render "layouts/right_contact" %>
  <%#<script type="text/javascript" src="http://qiao.baidu.com/v3/asset/js/m-webim-lite.js?v=20130902" charset="utf-8"></script>%>
  <%#<div id="container" class="container">%>
    <%#<header>%>
      <%#= render 'layouts/navigation' %>
      <%#= render 'layouts/messages' %>
      <%#</header>%>
    <%#<div id="main" role="main">%>
      <%#= yield %>
      <%#</div>%>
    <%#<footer>%>
      <%#</footer>%>
    <%#</div> [>! end of #container <]%>
  <%= render "layouts/logo" %>
</body>
</html>
