<%= render "layouts/before" %>
<% if category = @category || @post.try(:category) %>
  <%= image_tag category.image %>
<% else %>
  <%= image_tag "flash_main.png" %>
<% end -%>
<%= render "layouts/crummy" %>
<div class="content_left">
<%= yield %>
</div>
<div class="content_right">
  <%= render "layouts/sidebar" %>
</div>
</td>
<td valign="top">
<div class="right_top">&nbsp;</div>
  <img src="<%= asset_path('right_side.png') %>" width="485">
<%#</div>%>
<%#<div class="other_right" id="sidebar">%>
<%#</div>%>
<%= render "layouts/after" %>

