<%= render "layouts/before" %>
<div class="l" id="content">
  <%= yield %>
</div>
<div class="other_right" id="sidebar">
  <div class="bgcolor">
    <!--sds脊柱治疗中心-->
    <div class="sdszlzx bc">
      <span class="zlzx_title"><img src="<%= asset_path('center.jpg') %>" alt="sds非手术脊柱减压治疗中心"></span>
      <ul>
        <li><a href="http://www.sdskey.com/sds/1.html" target="_blank">SDS是什么</a></li>
        <li><a href="http://www.sdskey.com/sds/2.html" target="_blank">SDS治疗原理及特点</a></li>
        <li><a href="http://www.sdskey.com/sds/3.html" target="_blank">SDS治疗优势</a></li>
        <li><a href="http://www.sdskey.com/sds/4.html" target="_blank">SDS适用症/禁忌症</a></li>
        <li><a href="http://www.sdskey.com/sds/5.html" target="_blank">SDS治疗过程</a></li>
        <li><a href="http://www.sdskey.com/sds/6.html" target="_blank">SDS仪器介绍</a></li>
        <li><a href="http://www.sdskey.com/sds/7.html" target="_blank">SDS治疗费用标准</a></li>
        <li><a href="http://www.sdskey.com/sds/51.html" target="_blank">SDS治疗康复数据</a></li>
        <li><a href="http://www.sdskey.com/sds/52.html" target="_blank">SDS疗法恢复指南</a></li>
      </ul>
    </div>
    <!--sds脊柱治疗中心结束-->
    <!--开设中心-->
    <div class="kszx bc">
      <span class="kszx_title"><img src="<%= asset_path('kszx.jpg') %>" alt="开设中心"></span>
      <div class="kszx_con">
        <ul>

          <li><a target="_blank">天津市</a></li>
          <li><a target="_blank">河北省</a></li>
          <li><a target="_blank">辽宁省</a></li>
          <li><a target="_blank">河南省</a></li>
          <li><a target="_blank">湖北省</a></li>

          <li><a target="_blank">黑龙江</a></li>
          <li><a target="_blank">吉林省</a></li>
          <li><a target="_blank">内蒙古</a></li>
          <li><a target="_blank">安徽省</a></li>

          <li></li>
        </ul>
      </div>
    </div>
    <!--开设中心结束-->
    <!--免费热线-->
    <div class="kszx bc">
      <span class="kszx_title"><img src="<%= asset_path('mfrx.jpg') %>" alt="免费热线"></span>
      <div class="kszx_con">
        <span class="dh_img"><img src="<%= asset_path('telephone.jpg') %>" alt="400-099-8322"></span>
        <span class="yy_button"><b><a class="o_zxzx" title="在线预约" target="_blank"></a></b><b><a class="o_yyyy" title="医院预约" target="_blank"></a></b></span>
      </div>
    </div>
    <!--免费热线结束-->
  </div>
</div>
<%= render "layouts/after" %>

