<%= render "layouts/before" %>
<%#<div class="l" id="content">%>
  <%= render "layouts/crummy" %>
  <%= yield %>
</td>
<td valign="top">
  <img src="<%= asset_path('right_side.jpg') %>" width="485">
  <%= render "layouts/sidebar" %>
<%#</div>%>
<%#<div class="other_right" id="sidebar">%>
<%#</div>%>
<%= render "layouts/after" %>

